# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
venv/
env/
.venv/
.pytest_cache/
.mypy_cache/

# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile

# Environment & Secrets
.env
.env.*
*.pem
*.key

# Logs
*.log

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Docs
*.md
